:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    height: 760px;
  }
  
  .poster img {
    width: 50vw;
    max-height: 100vh;
  }
  .main {
    max-width: 50vw;
    width: 100%;
    padding: 20px;
  
    background-color: var(--background);
  }
  .main .login {
    margin: 50px;
    height: 600px; /* size */
    background-color: var(--form-background);
    padding: 60px;
  }
  
  .main .login .title p {
    color: white;
    font-size: 14px;
    font-family: "roboto", sans-serif;
  }
  .main .login .title span {
    font-size: 24px;
    font-family: "poppins", san-serif;
    margin-left: 15px;
    font-weight: 600;
    color: var(--text-title);
  }
  .main .login .title {
    margin-left: 80px;
  }
  
  .main .login .email {
    margin-top: 20px;
    margin-left: 80px;
  }
  .main .login .email p {
    color: white;
    font-family: "roboto", sans-serif;
    font-weight: 400;
  }
  .main .login .email .input {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px var(--primary-color) solid;
    align-items: center;
    margin-bottom: 20px;
  }
  .main .login .email .input input {
    margin-left: 10px;
    background-color: var(--form-background);
    border: 0;
  }
  .main .login .password {
    margin-left: 80px;
  }
  
  .main .login .password p {
    color: white;
    font-family: "roboto", sans-serif;
    font-weight: 400;
  }
  .main .login .password .input {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px var(--primary-color) solid;
    align-items: center;
    margin-bottom: 20px;
  }
  .main .login .password .input .eye {
    margin-left: 120px;
  }
  .main .login .password .input input {
    margin-left: 10px;
    background-color: var(--form-background);
    border: 0;
  }
  .main .login .check {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
  }

  .main .login .check .remen {
    display: flex;
  }
  .main .login .check .remen label {
    margin-left: 20px;
    font-family: "roboto", san-serif;
    color: var(--text-base);
  }
  .main .login .check span {
    color: var(--primary-color);
    font-family: "roboto", sans-serif;
  }
  .main .login .check .remen input{
    width:20px;
    color:fieldtext;
  }
  
  .main .login .send {
    margin-left: 40px;
    margin-top: 40px;
  }
  .main .login .send button {
    margin-left: 40px;
    background-color: var(--primary-color);
    padding: 20px 180px 20px 140px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
  }
  
  .main .login .send p {
    margin-left: 80px;
    font-family: "roboto", sans-serif;
    color: var(--primary-color);
  }
  
  @media (max-width: 770px){
    .poster{
        display: none;
    }
    .main{
        max-width:100vw;
    }
  }
@media (max-width: 660px){
    .main .login .password .input .eye {
        margin-left: 20px;
      }
      .main .login {
        background-color: var(--background);
        width:500px ;
        margin-left: 0;
        margin-top: 0;
      }
      .main {
        padding:0;
    
      }

}
@media (max-width: 530px){
    .main .login{
        margin-left:-60px;
    }
}
  
@media(max-width:465px){
    .main .login .send button {
        margin-left: 10px;
        width:120px;
    }
    .main{
        width:100vw;
    }
}